<h1>새로운 사진올리기</h1>
<p>사진을 올려주세요~~!!</p>

<form action="/posts/create" method="post" enctype="multipart/form-data">
  제 목 : <input type="text" name="title"><br>
  내 용 : <input type="text" name="content"><br>
  <input type="file" name="avatar">
  <input type="submit">
</form>
